{% include "base.html" %}

<!--Table-->
<table class="table table-hover">

    <!--Table head-->
    <thead>
        <tr>
            <th class="d-none d-sm-block">Project</th>
            <th>Doc Path</th>
            <th class="d-none d-sm-block">Original Path</th>
            <th>Revisions</th>
            <th>Status</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
            <!--td colspan="2">Larry the Bird</td-->
        {% for result in results %}
            <tr>
                <td class="d-none d-sm-block">{{ result.lang }} </td>
                <td>{{ result.path }}</td>
                <td class="d-none d-sm-block">{{ result.orig_path }}</td>
                <td>r{{ result.rev }} => r{{ result.orig_rev }}</td>
                {% if result.up_to_date == True %}
                    <td class="table-success">Up to date.</td>
                {% endif %}
                {% if result.up_to_date == False %}
                    <td class="table-warning">Outdated. <a href="{{ result.diff_url }}">[See Diff from Original]</a></td>
                {% endif %}
                {% if result.up_to_date == None %}
                    <td>Unable to fetch. </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    <!--Table body-->

</table>
<!--Table-->