{% include "base.html" %}

<div class="container-fluid">

    <ul class="list-group col-md-3">
        {% for lang, stat in lang_stat.items() %}
            <a href="{{ url_for('lang_index', lang=lang) }}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ lang }}
                    <span class="badge badge-success badge-pill">{{ stat.updated }} Up-to-date</span>
                    <span class="badge badge-warning badge-pill">{{ stat.outdated }} Needs update</span>
                    <span class="badge badge-light badge-pill">{{ stat.ignored }} Skipped</span>
                </li>
            </a>
        {% endfor %}
        <br>
        Last updated: {{ time_str }}
    </ul>

</div>